

.leftCol {

}

.rightCol {

}

.contact {
}

.gridContainer {
   display: grid;
}
 
.top-left {
}

.top-right {
}

.marquee {
    overflow: hidden;
}

.marquee-container {
	display: flex;
  justify-content: center;
  align-items: center;
  height:  35px;
  border:1px solid black;
}

li {
	background:  #4df2f2;
	display:  inline-block;
	width:  min-content;
	margin-bottom:  10px;
	padding-right:  15px;
}

ul {
	display: flex;
	flex-direction: column;
}

.silly-windows-thing {
	display: flex;
  justify-content: center;
  align-items: center;
  flex:  1;
}

.contact-text {
	overflow:  hidden;
}

.windows-video {
	max-width:  80%;
	max-height:  95%;
}

.note-box {
	background: #b3b2fe;
}

.bg-pink {
	background: #d585ff;
}

.bg-cyan {
	background: #4df2f2
}

.project-1 {
	/*background-image: url("assets/daycare.jpeg");*/
	background:linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("assets/daycare.jpeg");
	background-size:  cover;
}

.project-1:hover {
	background:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("assets/daycare.jpeg");
	background-size:  cover;
}

.project-name {
	display:  inline-block;
	padding-right:  15px;
}

.project-box-link {
	position:  absolute;
	top:  0;
	right:  0;
	bottom:  0;
	left:  0;
	width:  100%;
	height:  100%;
}

.project-box {
	position:  relative;
}